
body {
    height: 1080px;
    width: 1920px;
}

h2 {
	padding-top: 50px;
}
.board {
    height: 700px;
    width: 1300px;
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 300px;
}
table th {
    border: 1px solid black;
    background-color: #D3CBC0;;
}

table{
    background-color: #F5F5F5;
    
}

th {
    border: 1px solid black;
    
}

td{
	border: 1px solid black;
	width: 100%;
	border-left: 20px;
	
}



textarea{
    width: 95%;
    height: 470px;
    margin-left: 5px;
    border: 1px solid black;
}

.button{
    margin-top: 20px;
}

.button{
    margin-top: 20px;
}


td{
	padding-left: 30px;
}

input[type=text] {
	width:1000px;
	height: 30px;
}

input {
  width: 100px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  outline: none;
  
  background-color: rgb(233, 233, 233);
}