<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.jongseo.board.model.dao.BoardMapper">
              
  <resultMap type="BoardDTO" id="boardResultMap">
              
         <!-- <id property="no" column="BBRD_NO"/>      -->
         <result property="title" column="BBRD_TTL"/>
         <result property="writer" column="BBRD_WRTER"/>
         <result property="createdDate" column="BBRD_DATE"/>
         <result property="count" column="BBRD_CNT"/>
         <result property="body" column="BBRD_CONTS"/>
 
  </resultMap>       
                    
                     
  <select id="selectAllBoardList" resultMap="boardResultMap">
        SELECT
               <!-- A.BBRD_NO -->
               A.BBRD_TTL
             , A.BBRD_WRTER
             , A.BBRD_DATE
             , A.BBRD_CNT
          FROM BBRD A
         

  </select>      
  
  <insert id="insertBoard" parameterType="BoardDTO">
  
        INSERT 
          INTO BBRD A 
         (
            
            A.BBRD_TTL
           , A.BBRD_WRTER
           , A.BBRD_DATE
           , A.BBRD_CNT
         )
         VALUES
         (
           
            #{ title }
          , #{ writer }
          , #{ createdDate }
          , #{ body }
         )
  
   </insert>             
                     
                     
  
  </mapper>