
body {
    height: 1080px;
    width: 1920px;
}
.board {
    height: 700px;
    width: 1300px;
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 300px;
}

table th {
    border: 1px solid black;
}

table{
    background-color: antiquewhite;
    height: 50px;
}
th, td {
    border: 1px solid black;
}